registry=https://npm.abudhabi.ae/
//npm.abudhabi.ae/:_password=M3BoZGdKWHlnVG9O
//npm.abudhabi.ae/:username=tamm-npm
//npm.abudhabi.ae/:email=tamm-npm@abudhabi.ae
//npm.abudhabi.ae/:always-auth=false

//registry=https://npm-registry.digitalx1.io/
always-auth=false
_authToken="FKepCEjWGw8D9zKKfRaCAcHvx2MAfPJ7F/P/ykrdZ0w="

//Newly installed packages will be saved without a prefix
save-exact=true